Repository Xceptance/XLT, pull requests merged in 2023-10, with the labels that each got.

#422 421 mergerule processing split
  src/main/java/com/xceptance/common/collection/FastHashMap.java
  src/main/java/com/xceptance/xlt/api/util/XltCharBuffer.java
  src/main/java/com/xceptance/xlt/report/DataParserThread.java
  src/main/java/com/xceptance/xlt/report/ReportGeneratorConfiguration.java
  src/main/java/com/xceptance/xlt/report/mergerules/AbstractPatternRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/AbstractRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/AgentNameRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/ContentTypeRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/HttpMethodRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/PlaceholderPosition.java
  src/main/java/com/xceptance/xlt/report/mergerules/RequestNameRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/RequestProcessingRule.java
  src/main/java/com/xceptance/xlt/report/mergerules/StatusCodeRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/TransactionNameRequestFilter.java
  src/main/java/com/xceptance/xlt/report/mergerules/UrlRequestFilter.java
  src/test/java/com/xceptance/xlt/api/util/XltCharBufferTest.java
Labels: performance, report

#425 Upgrade guava from 31.1-jre to 32.1.2-jre
  pom.xml
Labels: dependencies, security

#424 423 disable js engine
  samples/testsuite-performance/config/default.properties
  samples/testsuite-posters/config/default.properties
  samples/testsuite-showcases/config/default.properties
  samples/testsuite-template/config/default.properties
  samples/testsuite-xlt/config/default.properties
  src/main/java/com/xceptance/xlt/api/actions/AbstractHtmlPageAction.java
  src/main/java/com/xceptance/xlt/engine/XltWebClient.java
  src/main/java/com/xceptance/xlt/engine/scripting/htmlunit/ElementFinder.java
  src/main/java/com/xceptance/xlt/engine/scripting/htmlunit/HtmlUnitCommandAdapter.java
  src/test/java/com/xceptance/xlt/api/actions/AbstractHtmlPageActionTest.java
  src/test/java/com/xceptance/xlt/engine/BaseUrlHandleTest.java
  src/test/java/com/xceptance/xlt/engine/XltWebClientLoadStaticContentTest.java
  src/test/java/com/xceptance/xlt/engine/scripting/webdriver/WebDriverUtilsTest.java
  src/test/java/com/xceptance/xlt/engine/xltdriver/_2897_ClickOnDisabledElementTest.java
  src/test/java/org/htmlunit/_1983_IFrameLoadTest.java
  src/test/java/org/htmlunit/_2144_FileInputHasNonZeroWidthTest.java
Labels: enhancement, performance

#431 430 matchresult caching
  src/main/java/com/xceptance/xlt/report/mergerules/AbstractPatternRequestFilter.java
Labels: performance, report
