Repository Xceptance/XLT, pull requests merged in 2023-02, with the labels that each got.

#319 Update dependencies used to bundle XLT ResultBrowser
  resultbrowser/package-lock.json
  resultbrowser/package.json
Labels: dependencies, javascript

#327 Refreshes the reports and fixes a few smaller problems
  NOTICE.md
  config/testreport/css/default.css
  config/testreport/css/superfish.custom.css
  config/testreport/images/01_ascending.gif
  config/testreport/images/01_descending.gif
  config/testreport/images/01_unsorted.gif
  config/testreport/images/arrow-bottom-right.gif
  config/testreport/images/arrow-right.gif
  config/testreport/images/caret-down-fill.svg
  config/testreport/images/caret-down-se-fill.svg
  config/testreport/images/caret-right-fill.svg
  config/testreport/images/caret-up-fill.svg
  config/testreport/images/favicon.png
  config/testreport/images/favicon.svg
  config/testreport/images/logo.png
  config/testreport/images/xlt-logo.svg
  config/testreport/js/jquery.superfish-1.7.10.min.js
  config/testreport/js/xlt.js
  config/xsl/common/sections/footer.xsl
  config/xsl/common/sections/head.xsl
  config/xsl/common/sections/header.xsl
  config/xsl/common/util/load-profile-table.xsl
  config/xsl/diffreport/sections/general.xsl
  config/xsl/diffreport/sections/navigation.xsl
  config/xsl/diffreport/util/timer-cell.xsl
  config/xsl/diffreport/util/timer-section.xsl
  config/xsl/loadreport/sections/agents.xsl
  config/xsl/loadreport/sections/configuration.xsl
  config/xsl/loadreport/sections/content-types.xsl
  config/xsl/loadreport/sections/custom-values.xsl
  config/xsl/loadreport/sections/errors.xsl
  config/xsl/loadreport/sections/events.xsl
  config/xsl/loadreport/sections/external.xsl
  config/xsl/loadreport/sections/general.xsl
  config/xsl/loadreport/sections/hosts.xsl
  config/xsl/loadreport/sections/navigation.xsl
  config/xsl/loadreport/sections/response-codes.xsl
  config/xsl/loadreport/sections/summary.xsl
  config/xsl/loadreport/util/network-table.xsl
  config/xsl/loadreport/util/timer-chart.xsl
  config/xsl/loadreport/util/timer-row.xsl
  config/xsl/loadreport/util/timer-section.xsl
  config/xsl/loadreport/util/timer-table.xsl
  config/xsl/trendreport/sections/navigation.xsl
  config/xsl/trendreport/util/timer-cell.xsl
  config/xsl/trendreport/util/timer-chart.xsl
  config/xsl/trendreport/util/timer-table.xsl
  doc/3rd-party-licenses/jquery.superfish/LICENSE.txt
  doc/internal-doc/licenses/licenses.csv
  src/main/java/com/xceptance/xlt/common/XltConstants.java
  src/main/java/com/xceptance/xlt/report/trendreport/TrendReportGeneratorMain.java
Labels: enhancement, report

#326 XLT #308 Add X to remove content
  .classpath
  config/testreport/css/default.css
  config/testreport/js/xlt.js
  config/xsl/diffreport/util/timer-section.xsl
  config/xsl/loadreport/sections/agents.xsl
  config/xsl/loadreport/sections/custom-values.xsl
  config/xsl/loadreport/util/timer-section.xsl
  config/xsl/loadreport/util/timer-table.xsl
  config/xsl/trendreport/util/timer-table.xsl
Labels: report
